.header {
    max-width: 383px;
    text-align: center;
    margin: auto;
}

.title {
    max-width: 556px;
    text-align: center;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 120px;
}

.image {
    width: 100%;
}