.card {
    min-height: 770px;
    padding: 32px;
    /* min-width: 320px;     */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.card>ul {
    border: none !important;
}

.image {
    display: block;
    margin: auto;
    margin-top: 8px;
}

.name {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    margin: 24px 0;
}

.list-item {
    justify-content: flex-start !important;
    gap: 12px;
    border-block-end: none !important;
    flex-wrap: nowrap !important;
}

.price {
    margin: 0;
    margin-top: auto;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    color: #0B132A;
}

.button {
    display: block;
    margin: 0 auto;
    width: 178px;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
    line-height: auto;
    border-radius: 50px;
    margin-top: 24px;
}

.shadow {
    box-shadow: #f5383854 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.card:hover {
    cursor: pointer;
    border-color: #F53838;
    transition: all 0.2s ease-in;
}

@media (max-width: 768px) {
    .price {
        font-size: 16px;
    }

    .button {
        width: 100px
    }
}